#chatWrapper {
    width: 40%;
    height: 70%;
	margin-left: 5%;
	margin-top:5%;
	display:block;
    background-color: #ddd;
	z-index:1210;
}

#banaerWrapper{
    height: 2%;
	width: 100%;
}

#historyMsgWrapper{
    height: 58%;
	width: 98%;
}

#controlsWrapper{
    height: 30%;
	width: 100%;
}

.banner {
    height: 100%;
    width: 100%;
}
.banner p {
    float: left;
    display: inline-block;
}

#status{
    width: 80%;
}

.controls {
    height: 20%;
    position: relative;
}
.input{
    height: 78%;
	position: relative;
}
#historyMsg {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}
#historyMsg img {
    max-width: 90%;
}
.timespan {
    color: #ddd;
}
.items {
    height: 100%;
}
#colorStyle {
    width: 10;
    border: none;
}
/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 10%;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
/*end custom file input*/

#messageInput {
    width: 98%;
    height: 80%;
    float:left;
}

#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 75%;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
.emoji{
    display: inline;
}