/* Style declarations for the EditingPanel */

.EditingPanel {
    float: right;
    top: 20px;
    right: 360px;
    height: 32px;
    width: 240px;
    background-color: #3c3c3c;
}

.EditingPanel div {
    float: left;
    padding-left: 1px;
    margin: 5px;
    width: 24px;
    height: 24px;
}

.olControlNavigationItemActive {
    background-image: url("openlayers/theme/default/img/pan_on.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olControlNavigationItemInactive {
    background-image: url("openlayers/theme/default/img/pan_off.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olControlDrawFeaturePointItemInactive {
    background-image: url("openlayers/theme/default/img/draw_point_off.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olControlDrawFeaturePointItemActive {
    background-image: url("openlayers/theme/default/img/draw_point_on.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlDrawFeaturePathItemInactive {
    background-image: url("openlayers/theme/default/img/draw_line_off.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olControlDrawFeaturePathItemActive {
    background-image: url("openlayers/theme/default/img/draw_line_on.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlDrawFeaturePolygonItemInactive {
    background-image: url("openlayers/theme/default/img/draw_polygon_off.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olControlDrawFeaturePolygonItemActive {
    background-image: url("openlayers/theme/default/img/draw_polygon_on.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olControlModifyFeatureItemActive {
    background-image: url(openlayers/theme/default/img/move_feature_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olControlModifyFeatureItemInactive {
    background-image: url(openlayers/theme/default/img/move_feature_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.DeleteFeatureItemActive {
    background-image: url(openlayers/theme/default/img/remove_point_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.DeleteFeatureItemInactive {
    background-image: url(openlayers/theme/default/img/remove_point_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}