/*

=======================================================================
                   Main CSS Style for projectLLL
======================================================================= */
.logodiv{
    display: inline-block;
    position: absolute;
    left: 5px;
}
html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

/**********************************导航条******************************************/
/*#navbarBrand {*/
    /*margin-left: -10px;*/
/*}*/

#navbar-right {
    margin-left: 600px;
}

/****************************聊天窗口*************************/
#closeChat{
    color: #f5f5f5;
}
#chatWrapper {
    overflow-y: hidden;
    border-radius: 10px;
    border-color: transparent;
    z-index: 1010;
}

#chatWrapper:hover {
    border-width: 2px;
    border-radius: 10px;
    border-color: #f0ad4e;
    cursor: move;
}
/****************************工具箱*************************/
#shortpath_div {
    overflow-y: hidden;
    border-radius: 10px;
    border-color: transparent;
    z-index: 1010;
}

#shortpath_div:hover {
    border-width: 2px;
    border-radius: 10px;
    border-color: #f0ad4e;
    cursor: move;
}

#shortpath_body{
    padding: 10px;
}
#searcharound_div {
    overflow-y: hidden;
    border-radius: 10px;
    border-color: transparent;
    z-index: 1010;
    /*max-height: 330px;*/
    width:220px;
}

#searcharound_div:hover {
    border-width: 2px;
    border-radius: 10px;
    border-color: #f0ad4e;
    cursor: move;
}



/**********************************地图主体******************************************/
.panorama-div {
    display: none;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}
.panorama-div-visible {
    background-color: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    display: block;
    vertical-align: top;
    height: 50%;
    width: auto;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.map-div-baidu-show {
    background-color: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: auto;
    height: 50%;
    padding-top: 20px;
    max-height: 50%;
    z-index: 0;
    display: block;
}

.map-div-baidu {
    display: none;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}

.map-div-classical {
    background-color: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: auto;
    height: 100%;
    display: block;
    padding-top: 0px;
    z-index: 0;
}
.map-div-change {
    display: none;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}
.panoramapickerItem {
    display: block;
    text-align: center;
    position: absolute;
    top: 150px;
    right: 10px;
    height: auto;
    width: 50px;
    color: #000088;
    background-color: #FAF0F0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /*border: solid 1px #444;*/
    border-radius: 2px;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border-color: #aaaaaa;
    z-index: 1000;
}
.panoramaitemIcon {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    border: none;
    display: block;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}
.panorama-label {
    height: auto;
    width: auto;
    position: relative;
    display: block;
    font-family: PingHei,STHeitiSC-Light,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
    font-size: 8pt;
    text-align: center;
    vertical-align: bottom;
    color: #000088;
    cursor: pointer;
    word-wrap: break-word;
    padding: 2px;
}

.panorama-label-clicked {
    height: auto;
    width: auto;
    position: relative;
    display: block;
    font-family: PingHei,STHeitiSC-Light,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
    font-size: 8pt;
    text-align: center;
    vertical-align: bottom;
    color: #FAF0F0;
    background-color: #000088;
    cursor: pointer;
    word-wrap: break-word;
    padding: 2px;
}

/*.panoramapickerItem:hover {*/
/*color: #FAF0F0;*/
/*background-color: #000088;*/
/*}*/
.panorama-label:hover {
    color: #FAF0F0;
    background-color: #000088;
}

/**************************地图主体****************************/
/*********************过渡小球效果*****************************/
.spinner {
    left: 0;
    top: 25%;
    text-align: center;
    position: relative;
    margin: 100px auto;
    width: 80px;
    height: 80px;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 20px;
    height: 20px;
    background-color: #333;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.screen_display {
    display: none;
    opacity: 0;
    visibility: hidden;
    color: transparent;
    z-index: 0;
}

.screen_display_on {
    z-index: 1200;
    position: absolute;
    width: 100%;
    height: 92%;
    background-color: #c7ddef;
    opacity: 0.75;
    display: block;
    border-color: transparent;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -webkit-transition: opacity ease-in-out 0.25s;
    -moz-transition: opacity ease-in-out 0.25s;
    -ms-transition: opacity ease-in-out 0.25s;
    -o-transition: opacity ease-in-out 0.25s;
    transition: opacity ease-in-out 0.25s;
}

.mapContainer_div {
    width: auto;
    background-color: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 100%;
    display: block;
    padding-top: 50px;
    border-color: transparent;
}

.mapContainer_div_reized {
    width: auto;
    background-color: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 100%;
    display: block;
    padding-top: 50px;
    padding-left: 220px;
    border-color: transparent;
}
/**********************************地图主体******************************************/

/**********************************viewerBar******************************************/
#close_panel {
    color: #f5f5f5;
}

.viewer-bar-classic  {
    position: absolute;
    display: block;
    top: 70px;
    right: 5px;

    font-family: PingHei,STHeitiSC-Light,Lucida Grande,Lucida Sans Unicode,Helvetica,Arial,Verdana,sans-serif;
    font-size: 16px;
    background-color: transparent;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /*    height: 50px;
        width: 400px;*/
    /*float: right;*/
    z-index: 1000;
}

.viewer-bar-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    color: transparent;
    z-index: 0;
}

#viewer-barsearch {
    float: left;
    /*width: 50px;*//*不能限定这个值，一限定search input就是往右了*/
    position: relative;
    display: block;
    margin: 0 3px;
}

#viewer-searchinput {
    background-color: rgba(40, 40, 40, 0.13);
    color: white;
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 34px;
    margin: 0;

    cursor: pointer;
    float: left;
    box-sizing: border-box;
    padding: 0 40px 0 0;

    /*设置搜索框的过渡样式*/
    -webkit-transition: width ease-in-out 0.25s, background-color 0.2s ease-in-out ;
    -moz-transition: width ease-in-out 0.25s, background-color 0.2s ease-in-out;
    transition: width ease-in-out 0.25s, background-color 0.2s ease-in-out;
    -webkit-appearance: none;

}

#viewer-searchinput:hover {
    padding-right: 4px;
    width: 250px;
}

#viewer-searchinput:focus {
    border-color: #ea4;
    background-color: rgba(15, 15, 15, 0.9);
    box-shadow: none;
    outline: none;

    padding-right: 4px;
    width: 250px;
    cursor: auto;
    /*boder:none*/
}

#viewer-searchbutton {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    float: left;
    width: 42px;
    top: 1px;
    right: 1px;
    height: 32px;

    vertical-align: middle;

    fill: #edffff;
}

#viewer-searchbutton:hover {
    background-color: #48b;
}

#viewer-barhome {
    display: inline-block;
    width: 40px;
    padding-left:1px;
}


#selectBaselayerButton{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 32px;
    /*padding-left: 0px;*/
}
.baseLayerPicker-selected {
    position: absolute;
     top: 0;
     left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.baseLayerPicker-dropDown {
    display: block;
    position: absolute;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    top: 110px;
    right: 0;
    width: 320px;
    max-height: 500px;
    margin-top: 5px;
    background-color: rgba(38, 38, 38, 0.75);
    border: 1px solid #444;
    padding: 6px;
    overflow: auto;
    border-radius: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(0, -20%);
    -moz-transform: translate(0, -20%);
    transform: translate(0, -20%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -moz-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -moz-transform 0.2s ease-in;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in, transform 0.2s ease-in;
}

.baseLayerPicker-dropDown-visible {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    z-index: 2000;
}

.baseLayerPicker-sectionTitle {
    display: block;
    font-family: sans-serif;
    font-size: 16pt;
    text-align: left;
    color: #edffff;
    border-bottom: 1px solid #888;
    margin-bottom: 4px;
}

.baseLayerPicker-choices {
    display: block;
    position: relative;
    top: auto;
    right: 0;
}

.baseLayerPicker-item {
    display: inline-block;
    vertical-align: top;
    margin: 2px 5px;
    width: 64px;
    text-align: center;
    cursor: pointer;
}

.baseLayerPicker-itemLabel {
    display: block;
    font-family: sans-serif;
    font-size: 8pt;
    text-align: center;
    vertical-align: middle;
    color: #edffff;
    cursor: pointer;
    word-wrap: break-word;
}

.baseLayerPicker-item:hover .baseLayerPicker-itemLabel, .baseLayerPicker-item:focus .baseLayerPicker-itemLabel {
    text-decoration: underline;
}

.baseLayerPicker-itemIcon {
    display: inline-block;
    position: relative;
    width: inherit;
    height: auto;
    background-size: 100% 100%;
    border: solid 1px #444;
    border-radius: 9px;
    color: #edffff;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.baseLayerPicker-item:hover .baseLayerPicker-itemIcon {
    border-color: #fff;
    box-shadow: 0 0 8px #fff, 0 0 8px #fff;
}

.baseLayerPicker-selectedItem .baseLayerPicker-itemLabel {
    color: rgb(189, 236, 248);
}

.baseLayerPicker-selectedItem .baseLayerPicker-itemIcon {
    border: double 4px rgb(189, 236, 248);
}

/**********************************viewerBar******************************************/

/**********************************左边框******************************************/

/**********************************viewerBar******************************************/
.pointer_type_show {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    display: block;
    top: 260px;
    cursor: pointer;
    width: 18px;
    height: 45px;
    left: 220px;
    z-index: 1001;
    margin: 10px;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer_type_show:hover{
    transform:rotate(180deg);
}

.pointer_type {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    display: block;
    top: 260px;
    cursor: pointer;
    width: 18px;
    height: 45px;
    left: -5px;
    z-index: 1001;
    margin: 10px;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

.pointer_type:hover{
    left: 5px;
}

#panel-footer-label {
    color: white ;
}

.result_container_div {
    display: none;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}

.result_container_div_show {
    z-index: 1001;
    display: block;
    position: absolute;
    top: 60px;
    /*bottom: 0;*/
    left: 0;
    width: 220px;
    /*height: 91%;*/
    border-radius: 3px;
    margin-bottom: 0;
    border-color: transparent;
    background-color: rgba(242, 238, 238, 1);
    visibility: visible;
    opacity: 1;
    /*设置左边框的过渡样式*/
    -webkit-transition: width ease-in-out 1s background-color ease-in-out 0.2s opacity ease-in-out 1s transform 0.25s ease-in-out;
    -moz-transition: width ease-in-out 1s background-color ease-in-out 0.2s opacity ease-in-out 1s transform 0.25s ease-in-out;
    transition: width ease-in-out 1s  background-color ease-in-out 0.5s opacity ease-in-out 1s transform 0.25s ease-in-out;
}


#panel_heading_div {
    color: #fff;
    background-color: #222;
    /*background-color: #337ab7;*/
    /*border-color: #337ab7;*/
    border-color: #080808;
    border-top-right-radius: 12px;
}

#result_body_div{
    overflow-y: scroll;
    height: 85%;
    -webkit-scrollbar-thumb:vertical;
}

/**********************************导航条******************************************/
.panel-footer-revised {
    padding: 12px 15px;
    background-color: #000000;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 3px;
}

.result_catalog_item{
    padding-bottom: 5px;
    padding-top: 5px;
}

.result_container {
    min-height: 60px;
    overflow: hidden;
}

#clear_markers{
    cursor: pointer;
}

#clear_markers:hover{
    text-decoration: underline;
}

.result_p {
/ / overflow-y : scroll;
/ / display : block;
}

.result_container:hover {
    background-color: #C2FFFF;
}

.result_container ul {
    display: block;
    list-style-type: none;
    padding-left: 10px;
}

.result_container li {
    float: left;
    font-size: 12px;
}

.result_logo {
    float: left;
    height: 32px;
    width: 32px;
    background-image: url("../img/pin-32.png");
    background-repeat: no-repeat;
    background-position: center;
}

/**********************************左边框******************************************/
/**********************************工具箱******************************************/
.toolbox_div{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    position: absolute;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    top: 110px;
    right: 700px;
    width: 200px;
    max-height: 310px;
    margin-top: 5px;
    background-color: rgba(38, 38, 38, 0.75);
    border: 1px solid #444;
    /*padding: 6px;*/
    /*overflow: auto;*/
    border-radius: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(0, -20%);
    -moz-transform: translate(0, -20%);
    transform: translate(0, -20%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -moz-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -moz-transform 0.2s ease-in;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in, transform 0.2s ease-in;
}

.toolbox_div_visible {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    z-index: 2000;
}
/***********************************工具箱******************************************/
/**********************************地图主体******************************************/


#loginWrapper{
    width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	display: none;
	position: absolute;
	z-index:1200;
	background-color:#333;
	opacity: 0.5;
}

.login{
    width:30%;
	height:23%;
	margin-left:35%;
	margin-top:15%;
	background-color:#fff;
}

#loginNickNameWrapper{
    height: 30%;
	margin-top:2%;
	margin-left:10%;
}

#loginPasswordWrapper{
    height: 30%;
	margin-top:2%;
	margin-left:10%;
}

#loginBtnWrapper{
    height: 30%;
	margin-top:2%;
	margin-left:35%;
}








